.account-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.label {
  font-size: 14px;
  color: var(--color-text);
  margin: 0;
}

.value {
  font-weight: 600;
  color: var(--color-text);
  margin: 2px 0 0 0;
}

.btn-light {
  background: var(--color-bg-card-page-active);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color-text);
  font-family: var(--font-family-title);
  cursor: pointer;
}

.btn-light-small {
  background: var(--color-bg-card-page-active);
  border: none;
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color-text);
  font-family: var(--font-family-title);
  cursor: pointer;
}

.inline-form {
  display: flex;
  gap: 10px;
  margin: 0 20px 20px 20px;
}

.inline-form input {
  padding: 6px 10px;
  border: 1px solid var(--color-card-border);
  flex: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 768px) {
  .account-info-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .inline-form {
    flex-direction: column;
    margin: 10px 0;
  }

  .inline-form input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-light-small{
    margin-left: auto;
    margin-right: auto;
  }
}
