.dashboard-chart {
  background-color: var(--color-bg-card-page-active);
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
  width: clamp(250px, 100vw, 900px);
}

.chart-label{
  text-align: center;
  color: var(--color-text);
}

@media (max-width: 768px) {
  .dashboard-chart {
    padding: 10px;
    width: 95%;
  }
}
