.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 1100px;
}

.dashboard-content{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.dashboard-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 65px 50px;
  width: 620px;
  flex-direction: row;
}

.dashboard-card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-bg-card-page-active);
  border-radius: 20px;
  height: 80px;
  gap: 10px;
  padding: 0 20px; 
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card-label{
  font-family: var(--font-family-text);
  color: var(--color-text);
  margin: 0px;
  text-align: start;
}

.card-value{
  font-family: var(--font-family-title);
  color: var(--color-text);
  margin: 0px;
  text-align: start;
}

.dashboard-chart-dougnut{
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1100px;
}

.dashboard-chart-small {
  background-color: var(--color-bg-card-page-active);
  padding: 20px;
  border-radius: 20px;
  width: 200px;
  margin-top: 30px;
}

.dashboard-chart {
  background-color: var(--color-bg-card-page-active);
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
  width: 95%;
  max-width: 1100px;
}

.chart-label{
  text-align: center;
  color: var(--color-text);
}