.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 1100px;
}

.top-bar-mobile{
  height: 100px;
  position: sticky;
  top: 0;
}

.return-top{
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 90%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: var(--color-text);
  background-color: var(--color-bg-card-page-active);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }


  .top-bar-mobile {
    display: none;
  }

  .main-content {
    padding: 15px;
    margin-top: 10px;
  }
}
