.theme-trad button {
  background: none;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.theme-trad {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 10px;
  margin: 20px;           
  z-index: 1000; 
  justify-content: end;  
}

.theme-trad[data-theme="dark"] button {
  background: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.theme-btn{
  display: flex;
  gap: 5px;
}
