.dashboard-table{
  background-color: var(--color-bg-card-page-active);
  width: clamp(350px, 100vw, 700px);;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: var(--color-text);
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: top;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

th{
  padding: 30px 10px;
  width: 500px;
}

.table-row-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-main);
  padding: 12px 10px;
  border-radius: 10px;
  gap: 20px;
 -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* Cartes responsive pour la table (mobile uniquement) */
.table-card-container {
  display: none;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-bg-card-page-active);
  padding: 10px;
  border-radius: 20px;
  width: 90%;
  color: var(--color-text);
  margin-left: auto;
  margin-right: auto;
}

.table-card {
  background-color: var(--color-bg-main);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  gap: 10px;
  width: 90%;
}

.table-card span {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .dashboard-table {
    display: none;
  }

  .table-card-container {
    display: flex;
  }

  .table-row-wrapper {
    flex-direction: column;
  }
}
