.dashboard-table{
  background-color: var(--color-bg-card-page-active);
  width: clamp(350px, 100vw, 83%);;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: var(--color-text);
  margin: 0 auto;
}

caption {
  caption-side: top;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashboard-transaction-list{
  background-color: var(--color-bg-card-page-active);
  border-radius: 20px;
  color: var(--color-text);
  width: 85%;
  margin: 0 auto;
  font-size: clamp(12px, 1vw, 14px);
}

.dashboard-transaction-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 10px;
}

.dashboard-transaction-table thead th {
  text-align: center;
  padding: 10px;
}

.dashboard-transaction-table tbody tr {
  background-color: var(--color-bg-main);
  border-radius: 10px;
  overflow: hidden; 
}

.dashboard-transaction-table tbody td {
  padding: 10px;
  text-align: center;
}

.table-card-container {
  display: none;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-bg-card-page-active);
  padding: 10px;
  border-radius: 20px;
  width: 95%;
  color: var(--color-text);
  margin-left: auto;
  margin-right: auto;
}

.table-card {
  background-color: var(--color-bg-main);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  gap: 10px;
  width: 90%;
}

.table-card span {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .dashboard-table {
    display: none;
  }

  .table-card-container {
    display: flex;
  }

  .table-row-wrapper {
    flex-direction: column;
  }
}
