.sidebar-wrapper {
  width: 35px;
  transition: width 0.3s ease;
  height: 91vh;
  background-color: var(--color-bg-main);
  border: 1px solid var(--color-card-border);
  margin: 10px;
  border-radius: 20px;
  padding: 20px 20px 10px 10px;
  font-family: var(--font-family-title);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 10px;
  z-index: 1000;
}

.sidebar-wrapper.expanded {
  width: 250px;
}

.sidebar-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.sidebar-logo img {
  max-width: 40px;
  max-height: 40px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo span{
  color: var(--color-text);
}

.sidebar-buttons {
  display: flex;
  gap: 10px;
}

.toggle-btn,
.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-navbar-btn-active);
  font-size: 18px;
}

.pin-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: transparent;
  color: var(--color-text);
  text-align: center;
  border-radius: 6px;
  padding: 6px 8px;
  position: absolute;
  z-index: 1;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 13px;
  white-space: nowrap;
}

.pin-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.burger-btn {
  position: fixed;
  top: 15px;
  left: 7%;
  background: var(--color-bg-main);
  border: none;
  font-size: 24px;
  padding: 8px 12px;
  border-radius: 6px;
  z-index: 1100;
  cursor: pointer;
  box-shadow: var(--shadows-sidebar);
}

.sidebar-menu {
  width: 100%;
}

.menu-section {
  margin-bottom: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--color-text-inactive);
  border-radius: 10px;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
}

.fa-icon-wrapper {
  padding: 10px;
  background-color: var(--color-bg-card-page-active);
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item.active {
  background-color: var(--color-bg-card-page-active);
  color: var(--color-navbar-btn-active);
  box-shadow: var(--shadow-title-page-nav);
}

.menu-item.active .fa-icon-wrapper {
  background-color: transparent;
  box-shadow: none;
}

.menu-section a:hover {
  color: var(--color-navbar-btn-active);
}

@media screen and (max-width: 768px) {
  .sidebar-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px !important;
    background-color: var(--color-bg-main);
    padding: 20px;
    margin: 0;
    border-radius: 0;
    box-shadow: var(--shadow-sidebar);
  }

  .sidebar-wrapper.mobile-open {
    display: block;
  }
}
